Repository esp-arduino-libs/ESP32_Display_Panel: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conf-files, check-file-versions

sync-conf-files:
  name: Update when configuration files change
  entry: python tools/sync_conf_files.py ./
  language: system

check-file-versions:
  name: Update when versions change
  entry: python tools/check_file_version.py ./
  language: system

feat(pre-commit): support to check file versions
  .github/scripts/check_lib_versions.sh
  .github/workflows/check_lib_versions.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  ESP_Panel_Conf.h
  examples/LCD/3wireSPI_RGB/ESP_Panel_Conf.h
  examples/LCD/QSPI/ESP_Panel_Conf.h
  examples/LCD/RGB/ESP_Panel_Conf.h
  examples/LCD/SPI/ESP_Panel_Conf.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Conf.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Conf.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Conf.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Conf.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Conf.h
  examples/Touch/I2C/ESP_Panel_Conf.h
  examples/Touch/SPI/ESP_Panel_Conf.h
  src/ESP_PanelVersions.h
  src/touch/README.md
  tools/check_file_version.py
  tools/sync_conf_files.py
Due: sync-conf-files, check-file-versions

feat(touch): add i2c st1633
  ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  examples/Touch/I2C/I2C.ino
  src/ESP_Panel_Library.h
  src/touch/ST1633.cpp
  src/touch/ST1633.h
  src/touch/base/esp_lcd_touch_st1633.c
  src/touch/base/esp_lcd_touch_st1633.h
Due: sync-conf-files, check-file-versions

feat(board): add new board M5CORE2
  ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/lvgl_port_v8.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/lvgl_port_v8.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/lvgl_port_v8.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.h
  library.properties
  src/board/ESP_PanelBoard.h
  src/board/m5stack/M5CORE2.h
Due: sync-conf-files, check-file-versions

fix(version): fix version mismatch
  src/ESP_PanelVersions.h
Due: check-file-versions

fix(docs): update files related to version and board M5CORE2
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
  src/board/ESP_PanelBoard.h
  src/board/README.md
  src/board/m5stack/M5CORE2.h
Due: sync-conf-files, check-file-versions

feat(docs): add Board Development Guide
  src/board/Board_Development_Guide.md
Due: none

feat(docs): optimize files in src/board
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  src/ESP_PanelVersions.h
  src/board/Board_Development_Guide.md
  src/board/Board_Development_Guide_CN.md
  src/board/Board_Instructions.md
Due: sync-conf-files, check-file-versions

feat(docs): update some docs
  README.md
  README_CN.md
  src/board/Board_Contribution_Guide.md
  src/board/Board_Contribution_Guide_CN.md
Due: none

feat(board): add new board M5CORE2 (#40)
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/lvgl_port_v8.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/lvgl_port_v8.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/lvgl_port_v8.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.h
  library.properties
  src/ESP_PanelVersions.h
  src/board/Board_Contribution_Guide.md
  src/board/Board_Contribution_Guide_CN.md
  src/board/Board_Instructions.md
  src/board/ESP_PanelBoard.h
  src/board/m5stack/M5CORE2.h
Due: sync-conf-files, check-file-versions

feat(board): add new board M5DIAL feat(docs): update changelog
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
  src/board/Board_Instructions.md
  src/board/ESP_PanelBoard.h
  src/board/m5stack/M5DIAL.h
Due: sync-conf-files, check-file-versions

feat(board): add new board M5CORES3 feat(docs): update changelog feat(docs): update some docs related to version
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
  src/board/Board_Contribution_Guide.md
  src/board/Board_Contribution_Guide_CN.md
  src/board/Board_Instructions.md
  src/board/ESP_PanelBoard.h
  src/board/m5stack/M5CORES3.h
Due: sync-conf-files, check-file-versions

feat(example): add support for PlatformIO by @isthaison (#37)
  examples/platformio/.gitignore
  examples/platformio/README.md
  examples/platformio/boards/ESP-LCD.json
  examples/platformio/platformio.ini
  examples/platformio/src/ESP_Panel_Board_Custom.h
  examples/platformio/src/ESP_Panel_Board_Supported.h
  examples/platformio/src/ESP_Panel_Conf.h
  examples/platformio/src/app.cpp
  examples/platformio/src/lv_conf.h
  examples/platformio/src/lvgl_port_v8.cpp
  examples/platformio/src/lvgl_port_v8.h
Due: sync-conf-files, check-file-versions

feat(example): add docs for PlatformIO
  CHANGELOG.md
  README.md
  README_CN.md
  examples/PlatformIO/.gitignore
  examples/PlatformIO/README.md
  examples/PlatformIO/boards/ESP-LCD.json
  examples/PlatformIO/platformio.ini
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Conf.h
  examples/PlatformIO/src/app.cpp
  examples/PlatformIO/src/lvgl_port_v8.cpp
  examples/PlatformIO/src/lvgl_port_v8.h
  examples/platformio/README.md
  examples/platformio/src/ESP_Panel_Conf.h
  examples/platformio/src/lv_conf.h
  src/board/Board_Instructions.md
Due: sync-conf-files, check-file-versions

Update WiFiClock README.md
  examples/SquareLine/v8/WiFiClock/README.md
Due: none

Update Board_Instructions.md
  src/board/Board_Instructions.md
Due: none

Add resolution colum for M5Stack in Update Board_Instructions.md
  src/board/Board_Instructions.md
Due: none

Add resolution for Shenzhen Jingcai Intelligent in Update Board_Instructions.md
  src/board/Board_Instructions.md
Due: none

Add resolution column for Espressif in Update Board_Instructions.md
  src/board/Board_Instructions.md
Due: none

fix(conf): fix error when include inside file (#52)
  CHANGELOG.md
  library.properties
  src/ESP_PanelVersions.h
  src/ESP_Panel_Conf_Internal.h
Due: check-file-versions

fix(docs): switch M5Stack doc links to english by @lboue (#50)
  CHANGELOG.md
  src/board/Board_Instructions.md
Due: none

feat(docs): add resolution column in board instructions by @lboue (#51)
  CHANGELOG.md
  src/board/Board_Instructions.md
Due: none

fix(board): fix m5stack coreS3 power issue (#54)
  CHANGELOG.md
  src/board/m5stack/M5CORES3.h
Due: none

init
  Kconfig
  test_apps/CMakeLists.txt
  test_apps/main/CMakeLists.txt
  test_apps/main/idf_component.yml
  test_apps/main/test_ESP_Panel.cpp
  test_apps/sdkconfig.defaults
  test_apps/sdkconfig.defaults.esp32_c3_lcdkit
  test_apps/sdkconfig.defaults.esp32_s3_box
  test_apps/sdkconfig.defaults.esp32_s3_box_3
  test_apps/sdkconfig.defaults.esp32_s3_box_lite
  test_apps/sdkconfig.defaults.esp32_s3_eye
  test_apps/sdkconfig.defaults.esp32_s3_korvo_2
  test_apps/sdkconfig.defaults.esp32_s3_lcd_ev_board
  test_apps/sdkconfig.defaults.esp32_s3_lcd_ev_board_2
  test_apps/sdkconfig.defaults.esp32_s3_otg
Due: none

update
  Kconfig
  Kconfig.bk
  idf_component.yml
  src/backlight/Kconfig.in
Due: none

Update Board_Instructions.md to add CrowPanel 7.0"
  src/board/Board_Instructions.md
Due: none

Update ESP_PanelBoard.h
  src/board/ESP_PanelBoard.h
Due: none

Create CROWPANEL_7_0.h
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

Update CROWPANEL_7_0.h
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

Update library.properties
  library.properties
Due: check-file-versions

Update ESP_Panel_Board_Supported.h
  ESP_Panel_Board_Supported.h
Due: sync-conf-files, check-file-versions

fix(panel): init expander host with correct macro
  CHANGELOG.md
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/Porting.ino
  examples/LVGL/v8/Porting/README.md
  examples/LVGL/v8/Rotation/README.md
  examples/LVGL/v8/Rotation/Rotation.ino
  examples/Panel/PanelTest/PanelTest.ino
  examples/Panel/PanelTest/README.md
  examples/SquareLine/v8/Porting/Porting.ino
  examples/SquareLine/v8/Porting/README.md
  examples/SquareLine/v8/WiFiClock/README.md
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
  library.properties
  src/ESP_Panel.cpp
  src/ESP_PanelVersions.h
Due: check-file-versions

Fix touch controller name
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

fix(examples): fix lvgl port rotation issue when enabling avoid tearing by @NecroMancer05
  CHANGELOG.md
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/lvgl_port_v8.cpp
  examples/LVGL/v8/Rotation/lvgl_port_v8.cpp
  examples/PlatformIO/src/lvgl_port_v8.cpp
  examples/SquareLine/v8/Porting/lvgl_port_v8.cpp
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.cpp
Due: none

feat(docs): move scattered README files to docs
  README.md
  README_CN.md
  docs/Board_Contribution_Guide.md
  docs/Board_Contribution_Guide_CN.md
  docs/Board_Instructions.md
  docs/LCD_Controllers.md
  docs/Touch_Controllers.md
  src/board/Board_Contribution_Guide.md
  src/board/Board_Contribution_Guide_CN.md
Due: none

feat(gt911): support set I2C address by using RST and INT pins
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  examples/Touch/I2C/I2C.ino
  src/ESP_Panel.cpp
  src/ESP_PanelTypes.h
  src/ESP_PanelVersions.h
  src/bus/I2C.cpp
  src/bus/I2C.h
  src/touch/ESP_PanelTouch.cpp
  src/touch/ESP_PanelTouch.h
  src/touch/GT911.cpp
  src/touch/GT911.h
  src/touch/base/esp_lcd_touch.h
  src/touch/base/esp_lcd_touch_gt911.c
  src/touch/base/esp_lcd_touch_gt911.h
Due: sync-conf-files, check-file-versions

Init GT911 touch controller by the INT pin
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

Path conditions:
  sync-conf-files: any of: .*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h, but not: libraries/ui/
  check-file-versions: any of: (.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h|library.properties|.*ESP_PanelVersions.h), but not: libraries/ui/
