Repository esp-arduino-libs/ESP32_Display_Panel: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conf-files, sync-template-files, check-file-versions, check-library-versions

Path conditions:
  sync-conf-files: any of: .*esp_panel_(board_custom|board_supported|drivers)_conf\.h, but not: (libraries/ui/|lv_conf.h)
  sync-template-files: any of: (.*esp_utils_conf\.h|.*lv_conf\.h|.*lvgl_v8_port\.cpp|.*lvgl_v8_port\.h), but not: (libraries/ui/|lv_conf.h)
  check-file-versions: any of: (.*esp_panel_(board_custom|board_supported|drivers)_conf\.h|library.properties|.*esp_panel_versions.h), but not: (libraries/ui/|lv_conf.h)
  check-library-versions: any of: (idf_component.yml|library.properties), but not: (libraries/ui/|lv_conf.h)

fix(lcd): correct conditional compilation logic for ST7701 driver
  CHANGELOG.md
  src/drivers/lcd/esp_panel_lcd_st7701.cpp
Due: none

fix(board): correct the RGB IO mapping and backlight configuration for Jingcai:JC8048W550C @jompjomp (#210)
  CHANGELOG.md
  src/board/supported/jingcai/BOARD_JINGCAI_JC8048W550C.h
Due: none

feat(examples): show the usage of 'configVendorCommands()' function in esp_idf/lvgl_v8_port @martinroger (#217)
  .github/workflows/issue_comment.yml
  .github/workflows/new_issues.yml
  .github/workflows/new_prs.yml
  CHANGELOG.md
  examples/esp_idf/lvgl_v8_port/main/main.cpp
Due: none

Update board_viewe.md
  docs/board/board_viewe.md
Due: none

fix some code
  docs/board/board_viewe.md
  esp_panel_board_supported_conf.h
  examples/arduino/board/board_static_config/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_rotation/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_wifi_clock/esp_panel_board_supported_conf.h
  src/board/supported/viewe/BOARD_VIEWE_SMARTRING.h
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85_C.h
  test_apps/board/waveshare/sdkconfig.ci.BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85_C
  tools/check_file_version.py
  tools/sync_conf_files.py
Due: sync-conf-files, check-file-versions

Adding Waveshare ESP32-S3 Touch LCD 2.8C
  README.md
  docs/board/board_waveshare.md
  docs/envs/use_with_idf.md
  esp_panel_board_supported_conf.h
  examples/arduino/board/board_static_config/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_rotation/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_wifi_clock/esp_panel_board_supported_conf.h
  idf_component.yml
  library.properties
  src/board/supported/esp_panel_board_config_supported.h
  src/board/supported/esp_panel_board_kconfig_supported.h
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_8_C.h
  src/board/supported/waveshare/Kconfig.waveshare
  src/esp_panel_versions.h
  test_apps/board/waveshare/sdkconfig.ci.BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_8_C
Due: sync-conf-files, check-file-versions, check-library-versions

Missed one version number
  esp_panel_board_supported_conf.h
Due: sync-conf-files, check-file-versions

Squashed : Adding Support for Waveshare ESP32-S3 Touch LCD 2.8C
  README.md
  docs/board/board_waveshare.md
  docs/envs/use_with_idf.md
  esp_panel_board_supported_conf.h
  examples/arduino/board/board_static_config/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_rotation/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_wifi_clock/esp_panel_board_supported_conf.h
  idf_component.yml
  library.properties
  src/board/supported/esp_panel_board_config_supported.h
  src/board/supported/esp_panel_board_kconfig_supported.h
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_8_C.h
  src/board/supported/waveshare/Kconfig.waveshare
  src/esp_panel_versions.h
  test_apps/board/waveshare/sdkconfig.ci.BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_8_C
Due: sync-conf-files, check-file-versions, check-library-versions

feat(board): add support for Waveshare ESP32-S3 Touch LCD 2.8C @martinroger (#226)
  README.md
  docs/board/board_waveshare.md
  docs/envs/use_with_idf.md
  esp_panel_board_supported_conf.h
  examples/arduino/board/board_static_config/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/simple_rotation/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_port/esp_panel_board_supported_conf.h
  examples/arduino/gui/lvgl_v8/squareline_wifi_clock/esp_panel_board_supported_conf.h
  idf_component.yml
  library.properties
  src/board/supported/esp_panel_board_config_supported.h
  src/board/supported/esp_panel_board_kconfig_supported.h
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_8_C.h
  src/board/supported/waveshare/Kconfig.waveshare
  src/esp_panel_versions.h
  test_apps/board/waveshare/sdkconfig.ci.BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_2_8_C
Due: sync-conf-files, check-file-versions, check-library-versions

feat(docs): udpate Chinese version
  CHANGELOG.md
  README_CN.md
  docs/envs/use_with_idf_cn.md
Due: none

fix(repo): update dependent esp-lib-utils version for Arduino
  CHANGELOG.md
  library.properties
Due: check-file-versions, check-library-versions

Fixing error on inverted colors (may still need bitshifting in LVGL)
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85.h
Due: none

fix(board): fixing error on inverted colors (may still need bitshifting in LVGL) @martinroger (#238)
  CHANGELOG.md
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85.h
Due: none

Modify ESP32_S3_TOUCH_LCD_1_85.h Initialize the screen code for the development board and correct the COLOR INEVRT
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85.h
Due: none

fix(board): fix screen initialization code for BOARD_ESP32_S3_TOUCH_LCD_1_85 @ggc121238 (#239)
  CHANGELOG.md
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_1_85.h
Due: none

add support for Wireless-Tag WTP4C5MP07S Touch LCD
  README.md
  esp_panel_board_supported_conf.h
  examples/arduino/board/board_static_config/esp_panel_board_supported_conf.h
  src/board/supported/Kconfig.board_supported
  src/board/supported/esp_panel_board_config_supported.h
  src/board/supported/esp_panel_board_kconfig_supported.h
  src/board/supported/wirelesstag/BOARD_WIRELESSTAG_WTP4C5MP07S.h
  src/board/supported/wirelesstag/Kconfig.wirelesstag
Due: sync-conf-files, check-file-versions

board: add JC3248W535EN (ESP32-S3, AXS15231B QSPI 320x480)
  src/board/supported/jingcai/BOARD_JC3248W535EN.h
Due: none

mpy_support: add draw_bitmap, read_touch, get_width/height, soft-reset guard
  mpy_support/esp_panel_mp_board.cpp
Due: none

Add support for the Waveshare S3 Touch LCD4 V4 board with custom IO Expander CH32V003
  src/board/supported/esp_panel_board_config_supported.h
  src/board/supported/esp_panel_board_kconfig_supported.h
  src/board/supported/waveshare/BOARD_WAVESHARE_ESP32_S3_TOUCH_LCD_4_V4.h
  src/board/supported/waveshare/Kconfig.waveshare
  src/drivers/io_expander/esp_panel_io_expander_conf_internal.h
  src/drivers/io_expander/esp_panel_io_expander_factory.cpp
Due: none
