Repository esp-arduino-libs/ESP32_Display_Panel: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conf-files, check-file-versions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: 'libraries/ui/'
repos:
  - repo: https://github.com/igrr/astyle_py.git
    rev: v1.0.5
    hooks:
      - id: astyle_py
        args: ['--style=otbs', '--attach-namespaces', '--attach-classes', '--indent=spaces=4', '--convert-tabs', '--align-pointer=name', '--align-reference=name', '--keep-one-line-statements', '--pad-header', '--pad-oper']

  - repo: https://github.com/espressif/check-copyright/
    rev: v1.0.3
    hooks:
      - id: check-copyright
        args: ['--config', 'check_copyright_config.yaml']

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        types: [python]
        args: ['--config=.flake8', '--tee', '--benchmark']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        types_or: [c, c++]
      - id: end-of-file-fixer
        types_or: [c, c++]
      - id: check-merge-conflict
      - id: mixed-line-ending
        types_or: [c, c++, text]
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character

  - repo: local
    hooks:
      - id: sync-conf-files
        name: Update when configuration files change
        entry: python tools/sync_conf_files.py ./
        language: system
        files: '.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h'

  - repo: local
    hooks:
      - id: check-file-versions
        name: Update when versions change
        entry: python tools/check_file_version.py ./
        language: system
        files: '(.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h|library.properties|.*ESP_PanelVersions.h)'

Touch Panel: Correct the inversion between height and width
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

Update CROWPANEL_7_0.h
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

Touch Panel INT GPIO38
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

Fix Hsync pulse width
  src/board/elecrow/CROWPANEL_7_0.h
Due: none

fix(panel): don't reset the LCD if the bus is RGB bus and the ESP_PANEL_LCD_FLAGS_AUTO_DEL_PANEL_IO is enabled
  CHANGELOG.md
  src/ESP_Panel.cpp
Due: none

feat(lvgl_port): set the lvgl task to run on the same core as the Arduino task by default
  CHANGELOG.md
  examples/LVGL/v8/Porting/lvgl_port_v8.h
  examples/LVGL/v8/Rotation/lvgl_port_v8.h
  examples/SquareLine/v8/Porting/lvgl_port_v8.h
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.h
Due: none

feat(board): increase the RGB pclk frequency to 26MHz for ESP32_4848S040C_I_Y_3
  CHANGELOG.md
  src/board/jingcai/ESP32_4848S040C_I_Y_3.h
Due: none

Switch to Python 3 for pre-commit
  .pre-commit-config.yaml
Due: none

feat(conf): add connection comments for the RGB pins in ESP_Panel_Board_Custom.h (#58, #68)
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  src/ESP_PanelVersions.h
Due: sync-conf-files, check-file-versions

Add new board Elecrow CrowPanel 7.0"
  ESP_Panel_Board_Supported.h
  docs/Board_Instructions.md
  src/board/ESP_PanelBoard.h
  src/board/elecrow/CROWPANEL_7_0.h
Due: sync-conf-files, check-file-versions

Update Board_Instructions.md
  docs/Board_Instructions.md
Due: none

pre-commit
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
Due: sync-conf-files, check-file-versions

Add new board Elecrow CrowPanel 7.0" (#71)
  ESP_Panel_Board_Supported.h
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  src/board/ESP_PanelBoard.h
  src/board/elecrow/CROWPANEL_7_0.h
Due: sync-conf-files, check-file-versions

fix(docs): specify lvgl version >= v8.3.9 and < 9
  CHANGELOG.md
  README.md
  README_CN.md
  examples/LVGL/v8/Porting/Porting.ino
  examples/LVGL/v8/Porting/README.md
  examples/LVGL/v8/Porting/lvgl_port_v8.h
  examples/LVGL/v8/Rotation/README.md
  examples/LVGL/v8/Rotation/Rotation.ino
  examples/LVGL/v8/Rotation/lvgl_port_v8.h
  examples/PlatformIO/README.md
  examples/PlatformIO/src/lvgl_port_v8.h
  examples/SquareLine/v8/Porting/Porting.ino
  examples/SquareLine/v8/Porting/README.md
  examples/SquareLine/v8/Porting/lvgl_port_v8.h
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.h
Due: none

fix(docs): update ESP32-S3-BOX-3 & ESP32-S3-BOX-3B
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
Due: sync-conf-files, check-file-versions

fix(docs): specify lvgl version >= v8.3.9 and < 9 (#73)
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/Porting.ino
  examples/LVGL/v8/Porting/README.md
  examples/LVGL/v8/Porting/lvgl_port_v8.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/README.md
  examples/LVGL/v8/Rotation/Rotation.ino
  examples/LVGL/v8/Rotation/lvgl_port_v8.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/README.md
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/lvgl_port_v8.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/Porting.ino
  examples/SquareLine/v8/Porting/README.md
  examples/SquareLine/v8/Porting/lvgl_port_v8.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.h
  library.properties
  src/ESP_PanelVersions.h
Due: sync-conf-files, check-file-versions

feat(lcd): add axs15231b
  examples/LCD/QSPI/QSPI.ino
  examples/LCD/SPI/SPI.ino
  src/ESP_Panel_Library.h
  src/bus/QSPI.cpp
  src/lcd/AXS15231B.cpp
  src/lcd/AXS15231B.h
  src/lcd/ESP_PanelLcd.cpp
  src/lcd/base/esp_lcd_axs15231b.c
  src/lcd/base/esp_lcd_axs15231b.h
Due: none

feat(examples): add axs15231b
  examples/LVGL/v8/axs15231b/axs15231b.ino
  examples/LVGL/v8/axs15231b/bsp_err_check.h
  examples/LVGL/v8/axs15231b/display.h
  examples/LVGL/v8/axs15231b/esp_bsp.c
  examples/LVGL/v8/axs15231b/esp_bsp.h
  examples/LVGL/v8/axs15231b/esp_lcd_axs15231b.c
  examples/LVGL/v8/axs15231b/esp_lcd_axs15231b.h
  examples/LVGL/v8/axs15231b/esp_lcd_touch.c
  examples/LVGL/v8/axs15231b/esp_lcd_touch.h
  examples/LVGL/v8/axs15231b/lv_conf.h
  examples/LVGL/v8/axs15231b/lv_port.c
  examples/LVGL/v8/axs15231b/lv_port.h
Due: none

Fix `LVGL_PORT_ROTATION_DEGREE` issue
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.cpp
Due: none

Driver for the EK9716BD3
  src/lcd/EK9716BD3.cpp
  src/lcd/EK9716BD3.h
Due: none

Update ESP_Panel_Library.h to add EK9716B
  src/ESP_Panel_Library.h
Due: none

Rename EK9716BD3.cpp to EK9716B.cpp
  src/lcd/EK9716B.cpp
Due: none

Rename EK9716BD3.h to EK9716B.h
  src/lcd/EK9716B.h
Due: none

Update EK9716B.cpp
  src/lcd/EK9716B.cpp
Due: none

Update EK9716B.h
  src/lcd/EK9716B.h
Due: none

Update LCD_Controllers.md
  docs/LCD_Controllers.md
Due: none

Update Supported LCD Controllers for RGB example
  examples/LCD/RGB/README.md
Due: none

Update library.properties
  library.properties
Due: check-file-versions

Update ESP_PanelVersions.h
  src/ESP_PanelVersions.h
Due: check-file-versions
