Repository esp-arduino-libs/ESP32_Display_Panel: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conf-files, check-file-versions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: 'libraries/ui/'
repos:
  - repo: https://github.com/igrr/astyle_py.git
    rev: v1.0.5
    hooks:
      - id: astyle_py
        args: ['--style=otbs', '--attach-namespaces', '--attach-classes', '--indent=spaces=4', '--convert-tabs', '--align-pointer=name', '--align-reference=name', '--keep-one-line-statements', '--pad-header', '--pad-oper']

  - repo: https://github.com/espressif/check-copyright/
    rev: v1.0.3
    hooks:
      - id: check-copyright
        args: ['--config', 'check_copyright_config.yaml']

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        types: [python]
        args: ['--config=.flake8', '--tee', '--benchmark']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        types_or: [c, c++]
      - id: end-of-file-fixer
        types_or: [c, c++]
      - id: check-merge-conflict
      - id: mixed-line-ending
        types_or: [c, c++, text]
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character

  - repo: local
    hooks:
      - id: sync-conf-files
        name: Update when configuration files change
        entry: python tools/sync_conf_files.py ./
        language: system
        files: '.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h'

  - repo: local
    hooks:
      - id: check-file-versions
        name: Update when versions change
        entry: python tools/check_file_version.py ./
        language: system
        files: '(.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h|library.properties|.*ESP_PanelVersions.h)'

Update LCD_Controllers.md
  docs/LCD_Controllers.md
Due: none

feat(board): add support for Fitipower EK9716B LCD controller for CrowPanel 7.0" board by @lboue (#78)
  README.md
  README_CN.md
  docs/LCD_Controllers.md
  examples/LCD/RGB/README.md
  library.properties
  src/ESP_PanelVersions.h
  src/ESP_Panel_Library.h
  src/board/elecrow/CROWPANEL_7_0.h
  src/lcd/EK9716B.cpp
  src/lcd/EK9716B.h
Due: check-file-versions

Update README.md
  examples/SquareLine/v8/Porting/README.md
Due: none

Update README.md
  examples/PlatformIO/README.md
Due: none

Update README.md
  README.md
Due: none

Update Porting.ino
  examples/SquareLine/v8/Porting/Porting.ino
Due: none

Update README.md
  examples/LVGL/v8/Porting/README.md
Due: none

Update Porting.ino
  examples/LVGL/v8/Porting/Porting.ino
Due: none

Update ESP32_S3_Touch_LCD_4.3.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4.3.h
Due: none

Update WiFiClock.ino
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
Due: none

LV_USE_DEMO_WIDGETS typo
  examples/PlatformIO/src/app.cpp
Due: none

LV_USE_DEMO_WIDGETS typo
  examples/LVGL/v8/Porting/Porting.ino
Due: none

fix(examples): fix LV_USE_DEMO_WIDGETS typo by @lboue (#98)
  examples/LVGL/v8/Porting/Porting.ino
  examples/PlatformIO/src/app.cpp
Due: none

fix(examples): fix 'Tearing fucntion' typo by @lboue (#96)
  README.md
  examples/LVGL/v8/Porting/Porting.ino
  examples/LVGL/v8/Porting/README.md
  examples/PlatformIO/README.md
  examples/SquareLine/v8/Porting/Porting.ino
  examples/SquareLine/v8/Porting/README.md
Due: none

fix(examples): fix WiFiClock log HTTP error code to serial console by @lboue (#97)
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
Due: none

fix(examples): fix `LVGL_PORT_ROTATION_DEGREE` issue by @lboue (#76)
  CHANGELOG.md
  examples/LVGL/v8/Rotation/lvgl_port_v8.cpp
  examples/PlatformIO/src/lvgl_port_v8.cpp
  examples/SquareLine/v8/Porting/lvgl_port_v8.cpp
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.cpp
Due: none

fix(examples): fix WiFiClock wrong name `ScreenPassord` by @lboue (#82)
  CHANGELOG.md
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
  examples/SquareLine/v8/WiFiClock/libraries/ui/src/CMakeLists.txt
  examples/SquareLine/v8/WiFiClock/libraries/ui/src/filelist.txt
  examples/SquareLine/v8/WiFiClock/libraries/ui/src/screens/ui_ScreenPassord.c
  examples/SquareLine/v8/WiFiClock/libraries/ui/src/ui.c
  examples/SquareLine/v8/WiFiClock/libraries/ui/src/ui.h
Due: none

fix(gt911): allow to set the GT911 touch device address by @lboue (#86)
  CHANGELOG.md
  src/touch/ESP_PanelTouch.cpp
  src/touch/ESP_PanelTouch.h
  src/touch/GT911.cpp
  src/touch/GT911.h
Due: none

feat(examples): update LCD - RGB
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  examples/LCD/RGB/README.md
  examples/LCD/RGB/RGB.ino
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  library.properties
  src/ESP_PanelVersions.h
Due: sync-conf-files, check-file-versions

fix(panel): remove redundant code
  ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  examples/Touch/I2C/I2C.ino
  src/ESP_Panel.cpp
  src/ESP_PanelVersions.h
  src/touch/ESP_PanelTouch.cpp
  src/touch/ESP_PanelTouch.h
  src/touch/GT911.cpp
  src/touch/GT911.h
Due: sync-conf-files, check-file-versions

fix(conf): fix the issue that the 'ESP_PANEL_EXPANDER_HOST_ID' is not working properly
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  src/ESP_PanelVersions.h
Due: sync-conf-files, check-file-versions

fix(examples): fix LCD using 'configVendorCommands' before 'init'
  CHANGELOG.md
  examples/LCD/3wireSPI_RGB/3wireSPI_RGB.ino
  examples/LCD/QSPI/QSPI.ino
  examples/LCD/RGB/RGB.ino
  examples/LCD/SPI/SPI.ino
  src/lcd/ESP_PanelLcd.cpp
Due: none

fix(examples): fix issue with I2C.ino EXAMPLE_TOUCH_ADDRESS missing as variable by @lboue (#84)
  CHANGELOG.md
  examples/Touch/I2C/I2C.ino
Due: none

feat(docs): update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(conf): fix 'LCD Venbdor' typo (#92)
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  README_CN.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  src/ESP_PanelVersions.h
  src/board/elecrow/CROWPANEL_7_0.h
  src/board/espressif/ESP32_C3_LCDKIT.h
  src/board/espressif/ESP32_S3_BOX.h
  src/board/espressif/ESP32_S3_BOX_3.h
  src/board/espressif/ESP32_S3_BOX_3_BETA.h
  src/board/espressif/ESP32_S3_BOX_LITE.h
  src/board/espressif/ESP32_S3_EYE.h
  src/board/espressif/ESP32_S3_KORVO_2.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD_2.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD_2_V1_5.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD_V1_5.h
  src/board/espressif/ESP32_S3_USB_OTG.h
  src/board/jingcai/ESP32_4848S040C_I_Y_3.h
  src/board/m5stack/M5CORE2.h
  src/board/m5stack/M5CORES3.h
  src/board/m5stack/M5DIAL.h
Due: sync-conf-files, check-file-versions

Fix pre-commit CI check
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4.3.h
Due: sync-conf-files, check-file-versions

ChangeLog v0.1.6
  CHANGELOG.md
Due: none

Update ESP_PanelBoard.h
  src/board/ESP_PanelBoard.h
Due: none

Bump minor version for `ESP_Panel_Board_Custom.h` & `ESP_Panel_Board_Supported.h`
  src/ESP_PanelVersions.h
Due: check-file-versions

feat(board): add support for Waveshare ESP32-S3-Touch-LCD-4.3 board by @lboue (#99)
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  src/ESP_PanelVersions.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4.3.h
Due: sync-conf-files, check-file-versions

fix(examples): fix WiFiClock description
  CHANGELOG.md
  examples/SquareLine/v8/WiFiClock/README.md
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
Due: none

fix(version): correct version compare patch
  ESP_Panel_Board_Custom.h
  ESP_Panel_Board_Supported.h
  ESP_Panel_Conf.h
  examples/LCD/3wireSPI_RGB/ESP_Panel_Conf.h
  examples/LCD/QSPI/ESP_Panel_Conf.h
  examples/LCD/RGB/ESP_Panel_Conf.h
  examples/LCD/SPI/ESP_Panel_Conf.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/ESP_Panel_Conf.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Conf.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Conf.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Conf.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Conf.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Conf.h
  examples/Touch/I2C/ESP_Panel_Conf.h
  examples/Touch/SPI/ESP_Panel_Conf.h
  src/ESP_PanelVersions.h
Due: sync-conf-files, check-file-versions

Update README_CN.md
  README_CN.md
Due: none

Fixed Typo error that does not allow the code to compile when using supported boards
  src/board/ESP_PanelBoard.h
Due: none

feat(docs): add additional information about screen drift issue
  CHANGELOG.md
  README.md
  README_CN.md
  library.properties
  src/ESP_PanelVersions.h
Due: check-file-versions
