Repository esp-arduino-libs/ESP32_Display_Panel: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conf-files, check-file-versions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

exclude: 'libraries/ui/'
repos:
  - repo: https://github.com/igrr/astyle_py.git
    rev: v1.0.5
    hooks:
      - id: astyle_py
        args: ['--style=otbs', '--attach-namespaces', '--attach-classes', '--indent=spaces=4', '--convert-tabs', '--align-pointer=name', '--align-reference=name', '--keep-one-line-statements', '--pad-header', '--pad-oper']

  - repo: https://github.com/espressif/check-copyright/
    rev: v1.0.3
    hooks:
      - id: check-copyright
        args: ['--config', 'check_copyright_config.yaml']

  - repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
      - id: flake8
        types: [python]
        args: ['--config=.flake8', '--tee', '--benchmark']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        types_or: [c, c++]
      - id: end-of-file-fixer
        types_or: [c, c++]
      - id: check-merge-conflict
      - id: mixed-line-ending
        types_or: [c, c++, text]
        args: ['--fix=lf']
        description: Forces to replace line ending by the UNIX 'lf' character

  - repo: local
    hooks:
      - id: sync-conf-files
        name: Update when configuration files change
        entry: python tools/sync_conf_files.py ./
        language: system
        files: '.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h'

  - repo: local
    hooks:
      - id: check-file-versions
        name: Update when versions change
        entry: python tools/check_file_version.py ./
        language: system
        files: '(.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h|library.properties|.*ESP_PanelVersions.h)'

fix(examples): correct readme broken links
  examples/LVGL/v8/Porting/README.md
  examples/LVGL/v8/Rotation/README.md
  examples/Panel/PanelTest/README.md
  examples/SquareLine/v8/Porting/README.md
Due: none

Updated base components up to step 6
  .github/workflows/pre-commit.yml
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  check_copyright_config.yaml
  docs/Board_Contribution_Guide.md
  docs/Board_Contribution_Guide_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_S3_Touch_LCD_1_85.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3.h
Due: sync-conf-files, check-file-versions

Implementation of Waveshare ESP32_S3_Touch_LCD_2.1 (RGB)
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_S3_Touch_LCD_2_1.h
Due: sync-conf-files, check-file-versions

feat(ci): support to sync JIRA
  .github/workflows/issue_comment.yml
  .github/workflows/new_issues.yml
  .github/workflows/new_prs.yml
Due: none

feat: update
  .build-rules.yml
  .gitlab-ci.yml
  .gitlab/ci/build.yml
  .gitlab/ci/deploy.yml
  .gitlab/ci/pre_check.yml
  .gitlab/ci/rules.yml
  .gitlab/tools/build_apps.py
  .gitlab/tools/check_executables.py
  .gitlab/tools/check_readme_links.py
  .gitlab/tools/executable-list.txt
  .gitlab/tools/idf_ci_utils.py
  .gitlab/tools/push_to_github.sh
  .pre-commit-config.yaml
  conftest.py
  pytest.ini
Due: none

feat: update
  .build-rules.yml
  .github/scripts/check_lib_versions.sh
  .gitlab/ci/build.yml
  .gitlab/ci/rules.yml
  .gitlab/tools/check_readme_links.py
  examples/PlatformIO/README.md
  idf_component.yml
  src/touch/base/esp_lcd_touch.h
  test_apps/panel/sdkconfig.ci.espressif_esp32_c3_lcdkit
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_box
Due: none

feat: update
  .build-rules.yml
  .gitlab/tools/build_apps.py
  src/board/elecrow/CROWPANEL_7_0.h
  src/board/espressif/ESP32_S3_BOX.h
  src/board/espressif/ESP32_S3_BOX_3_BETA.h
  src/board/espressif/ESP32_S3_BOX_LITE.h
  src/board/espressif/ESP32_S3_EYE.h
  src/board/espressif/ESP32_S3_KORVO_2.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD_2.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD_2_V1_5.h
  src/board/espressif/ESP32_S3_LCD_EV_BOARD_V1_5.h
  src/board/espressif/ESP32_S3_USB_OTG.h
  src/board/m5stack/M5CORE2.h
  src/board/m5stack/M5DIAL.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3.h
  src/host/ESP_PanelHost.h
Due: none

feat: update
  .gitlab/ci/build.yml
  examples/Panel/PanelTest/PanelTest.ino
  src/board/m5stack/M5CORE2.h
  src/board/m5stack/M5CORES3.h
  src/board/waveshare/ESP32_S3_Touch_LCD_1_85.h
  src/bus/I2C.cpp
  src/lcd/ESP_PanelLcd.cpp
  src/lcd/ESP_PanelLcd.h
  src/lcd/base/esp_lcd_custom_types.h
  test_apps/panel/main/test_app_main.c
  test_apps/panel/main/test_panel.cpp
  test_apps/panel/sdkconfig.ci.elecrow_crowpanel_7_0
  test_apps/panel/sdkconfig.ci.espressif_esp32_c3_lcdkit
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_box_3
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_box_3_beta
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_box_lite
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_eye
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_korvo_2
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_lcd_ev_board
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_lcd_ev_board_2
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_lcd_ev_board_2_v1_5
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_lcd_ev_board_v1_5
  test_apps/panel/sdkconfig.ci.espressif_esp32_s3_usb_otg
  test_apps/panel/sdkconfig.ci.jingcai_esp32_4848S040C_I_Y_3
  test_apps/panel/sdkconfig.ci.m5stack_m5core2
  test_apps/panel/sdkconfig.ci.m5stack_m5core3
  test_apps/panel/sdkconfig.ci.m5stack_m5dial
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_1_85
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_2_1
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_4_3
  test_apps/panel/sdkconfig.defaults
Due: none

feat(lcd): add LCD controller EK79007
  src/ESP_Panel_Library.h
  src/lcd/EK79007.cpp
  src/lcd/EK79007.h
  src/lcd/base/esp_lcd_ek79007.c
  src/lcd/base/esp_lcd_ek79007.h
Due: none

feat(test_apps): add MIPI-DSI LCD
  test_apps/lcd/mipi_dsi/CMakeLists.txt
  test_apps/lcd/mipi_dsi/main/CMakeLists.txt
  test_apps/lcd/mipi_dsi/main/idf_component.yml
  test_apps/lcd/mipi_dsi/main/test_app_main.c
  test_apps/lcd/mipi_dsi/main/test_mipi_dsi_lcd.cpp
  test_apps/lcd/mipi_dsi/sdkconfig.defaults
  test_apps/lcd/mipi_dsi/sdkconfig.defaults.esp32p4
Due: none

feat(examples): add MIPI-DSI LCD
  examples/LCD/MIPI_DSI/ESP_Panel_Conf.h
  examples/LCD/MIPI_DSI/MIPI_DSI.ino
  examples/LCD/MIPI_DSI/README.md
Due: sync-conf-files, check-file-versions

feat(ci): update for MIPI-DSI LCD
  .build-rules.yml
  .gitlab/ci/build.yml
  .gitlab/ci/rules.yml
  src/touch/base/esp_lcd_touch_xpt2046.h
Due: none

feat(lcd): add LCD controller ILI9881C
  examples/LCD/MIPI_DSI/MIPI_DSI.ino
  examples/LCD/MIPI_DSI/README.md
  src/ESP_Panel_Library.h
  src/lcd/ILI9881C.cpp
  src/lcd/ILI9881C.h
  src/lcd/base/esp_lcd_ili9881c.c
  src/lcd/base/esp_lcd_ili9881c.h
  test_apps/lcd/mipi_dsi/main/test_mipi_dsi_lcd.cpp
Due: none

feat(examples): optimize anti-tear rotation in lvgl_port_v8
  examples/LVGL/v8/Porting/lvgl_port_v8.cpp
  examples/LVGL/v8/Rotation/lvgl_port_v8.cpp
  examples/PlatformIO/src/lvgl_port_v8.cpp
  examples/SquareLine/v8/Porting/lvgl_port_v8.cpp
  examples/SquareLine/v8/WiFiClock/lvgl_port_v8.cpp
  test_apps/lvgl_port/main/lvgl_port_v8.cpp
Due: none

fix(touch): release ISR semaphore when delete
  src/touch/ESP_PanelTouch.cpp
  src/touch/ESP_PanelTouch.h
  test_apps/touch/i2c/main/test_i2c_touch.cpp
Due: none

feat(board): add support for Espressif ESP32-P4-Function-EV-Board
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_PanelVersions.h
  src/ESP_Panel_Board_Kconfig.h
  src/board/ESP_PanelBoard.h
  src/board/espressif/ESP32_P4_FUNCTION_EV_BOARD.h
  src/board/espressif/Kconfig.espressif
  test_apps/lvgl_port/sdkconfig.ci.espressif_esp32_p4_function_ev_board
  test_apps/panel/sdkconfig.ci.espressif_esp32_p4_function_ev_board
Due: sync-conf-files, check-file-versions

feat(docs): update README and fix broken links
  CHANGELOG.md
  docs/Board_Contribution_Guide.md
  docs/Board_Contribution_Guide_CN.md
  docs/FAQ.md
  docs/FAQ_CN.md
  docs/_static/block_diagram.drawio
  docs/_static/block_diagram.png
  examples/LCD/3wireSPI_RGB/3wireSPI_RGB.ino
  examples/LCD/MIPI_DSI/MIPI_DSI.ino
  examples/LCD/QSPI/QSPI.ino
  examples/LCD/RGB/RGB.ino
  examples/LCD/SPI/SPI.ino
  examples/LVGL/v8/Porting/Porting.ino
  examples/LVGL/v8/Rotation/Rotation.ino
  examples/Panel/PanelTest/PanelTest.ino
  examples/SquareLine/v8/Porting/Porting.ino
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
  examples/Touch/I2C/I2C.ino
  examples/Touch/SPI/SPI.ino
Due: none

fix(lcd): update ili9881
  README.md
  README_CN.md
  docs/LCD_Controllers.md
  idf_component.yml
  library.properties
  src/lcd/base/esp_lcd_ili9881c.c
Due: check-file-versions

fix(lcd & docs): update ili9881c and README
  .github/workflows/pre-commit.yml
  README.md
  README_CN.md
  docs/LCD_Controllers.md
  idf_component.yml
  library.properties
  src/lcd/base/esp_lcd_ili9881c.c
Due: check-file-versions

add LCD controller JD9365
  src/ESP_Panel_Library.h
  src/lcd/JD9365.cpp
  src/lcd/JD9365.h
  src/lcd/base/esp_lcd_jd9365.c
  src/lcd/base/esp_lcd_jd9365.h
Due: none

add support for Waveshare ESP32-P4-NANO
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_Panel_Board_Kconfig.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_P4_NANO.h
  src/board/waveshare/Kconfig.waveshare
  test_apps/lvgl_port/sdkconfig.ci.waveshare_esp32_p4_nano
  test_apps/panel/sdkconfig.ci.waveshare_esp32_p4_nano
Due: sync-conf-files, check-file-versions

Some of the recommendations have been revised
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  library.properties
  src/ESP_Panel_Board_Kconfig.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_P4_NANO.h
Due: sync-conf-files, check-file-versions

feat(lcd): add LCD controller JD9365 @Y1hsiaochunnn (#123)
  src/ESP_Panel_Library.h
  src/lcd/JD9365.cpp
  src/lcd/JD9365.h
  src/lcd/base/esp_lcd_jd9365.c
  src/lcd/base/esp_lcd_jd9365.h
Due: none

Add Waveshare 7 and 4.3B and 5 and 5B
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3_B.h
  src/board/waveshare/ESP32_S3_Touch_LCD_5.h
  src/board/waveshare/ESP32_S3_Touch_LCD_5_B.h
  src/board/waveshare/ESP32_S3_Touch_LCD_7.h
Due: none

Add Waveshare 7 and 4.3B and 5 and 5B
  ESP_Panel_Board_Supported.h
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3.h
  src/board/waveshare/Kconfig.waveshare
Due: sync-conf-files, check-file-versions

feat(board): add board Waveshare ESP32-P4-NANO @Y1hsiaochunnn (#123)
  CHANGELOG.md
  ESP_Panel_Board_Custom.h
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  docs/How_To_Use.md
  docs/How_To_Use_CN.md
  docs/LCD_Controllers.md
  examples/LCD/MIPI_DSI/MIPI_DSI.ino
  examples/LCD/MIPI_DSI/README.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Custom.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Custom.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Custom.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Custom.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  idf_component.yml
  library.properties
  src/ESP_PanelVersions.h
  src/ESP_Panel_Board_Kconfig.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_P4_NANO.h
  src/board/waveshare/Kconfig.waveshare
  src/lcd/base/esp_lcd_ek79007.c
  src/lcd/base/esp_lcd_ek79007.h
  src/lcd/base/esp_lcd_jd9365.c
  src/lcd/base/esp_lcd_jd9365.h
  test_apps/lvgl_port/sdkconfig.ci.waveshare_esp32_p4_nano
  test_apps/panel/sdkconfig.ci.waveshare_esp32_p4_nano
Due: sync-conf-files, check-file-versions

feat(board): add board Waveshare ESP32-S3-Touch-LCD-4.3B/5/5B/7 @H-sw123 (#124)
  CHANGELOG.md
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  library.properties
  src/ESP_Panel_Board_Kconfig.h
  src/board/ESP_PanelBoard.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3_B.h
  src/board/waveshare/ESP32_S3_Touch_LCD_5.h
  src/board/waveshare/ESP32_S3_Touch_LCD_5_B.h
  src/board/waveshare/ESP32_S3_Touch_LCD_7.h
  src/board/waveshare/Kconfig.waveshare
  test_apps/lvgl_port/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_4_3_b
  test_apps/lvgl_port/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_5
  test_apps/lvgl_port/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_5_B
  test_apps/lvgl_port/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_7
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_4_3_b
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_5
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_5_B
  test_apps/panel/sdkconfig.ci.waveshare_esp32_s3_touch_lcd_7
Due: sync-conf-files, check-file-versions

fix(bus & lcd): update RGB conf based on esp-idf v5.4
  CHANGELOG.md
  src/ESP_Panel.cpp
  src/bus/RGB.h
  src/lcd/ESP_PanelLcd.cpp
Due: none

feat(repo): add utils module with log, memory, and check_result components
  ESP_Panel_Conf.h
  Kconfig
  examples/LCD/3wireSPI_RGB/ESP_Panel_Conf.h
  examples/LCD/MIPI_DSI/ESP_Panel_Conf.h
  examples/LCD/QSPI/ESP_Panel_Conf.h
  examples/LCD/RGB/ESP_Panel_Conf.h
  examples/LCD/SPI/ESP_Panel_Conf.h
  examples/LVGL/v8/Porting/ESP_Panel_Conf.h
  examples/LVGL/v8/Rotation/ESP_Panel_Conf.h
  examples/Panel/PanelTest/ESP_Panel_Conf.h
  examples/PlatformIO/src/ESP_Panel_Conf.h
  examples/SquareLine/v8/Porting/ESP_Panel_Conf.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Conf.h
  examples/Touch/I2C/ESP_Panel_Conf.h
  examples/Touch/SPI/ESP_Panel_Conf.h
  idf_component.yml
  library.properties
  src/ESP_PanelTypes.h
  src/ESP_PanelVersions.h
  src/ESP_Panel_Conf_Internal.h
  src/ESP_Panel_Conf_Kconfig.h
  src/lcd/ESP_PanelLcd.cpp
  src/utils/Kconfig.utils
  src/utils/esp_panel_check_result.hpp
  src/utils/esp_panel_log.hpp
  src/utils/esp_panel_memory.hpp
  src/utils/esp_panel_utils.hpp
Due: sync-conf-files, check-file-versions

feat(backlight): refactor
  src/ESP_Panel_Library.h
  src/backlight/ESP_PanelBacklight.cpp
  src/backlight/ESP_PanelBacklight.h
  src/backlight/Kconfig.in
  src/backlight/esp_panel_backlight.cpp
  src/backlight/esp_panel_backlight.hpp
  src/panel/ESP_Panel.cpp
  src/panel/ESP_Panel.h
  test_apps/common/main/idf_component.yml
  test_apps/common/main/test_app_main.cpp
  test_apps/common/main/test_common.cpp
Due: none

feat(repo): add utils module with log, memory, and check_result components
  src/utils/esp_panel_memory.hpp
  test_apps/common/sdkconfig.defaults
  test_apps/lcd/3wire_spi_rgb/sdkconfig.defaults
  test_apps/lcd/mipi_dsi/sdkconfig.defaults
  test_apps/lcd/qspi/sdkconfig.defaults
  test_apps/lcd/rgb/sdkconfig.defaults
  test_apps/lcd/spi/sdkconfig.defaults
  test_apps/lvgl_port/sdkconfig.defaults
  test_apps/panel/sdkconfig.defaults
  test_apps/touch/i2c/sdkconfig.defaults
  test_apps/touch/spi/sdkconfig.defaults
Due: none

Update README.md
  README.md
Due: none

Update README_CN.md
  README_CN.md
Due: none
