Repository esp-arduino-libs/ESP32_Display_Panel: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-conf-files, check-file-versions

sync-conf-files:
  name: Update when configuration files change
  entry: python tools/sync_conf_files.py ./
  language: system

check-file-versions:
  name: Update when versions change
  entry: python tools/check_file_version.py ./
  language: system

Update README.md
  README.md
Due: none

Update Board_Instructions.md
  docs/Board_Instructions.md
Due: none

Add a touch with model number CHSC6540
  src/touch/CHSC6540.cpp
  src/touch/CHSC6540.h
  src/touch/base/esp_lcd_touch_chsc6540.c
  src/touch/base/esp_lcd_touch_chsc6540.h
Due: none

update examples
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/Porting.ino
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/Rotation.ino
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/PanelTest.ino
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/app.cpp
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/Porting.ino
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
  src/board/ESP_PanelBoard.h
  src/board/viewe/viewe_panel2_8048050.h
  src/board/viewe/viewe_panel_24320024.h
  src/board/viewe/viewe_panel_24320028.h
  src/board/viewe/viewe_panel_24320035.h
  src/board/viewe/viewe_panel_32480035.h
  src/board/viewe/viewe_panel_48272043.h
  src/board/viewe/viewe_panel_4848040.h
  src/board/viewe/viewe_panel_8048043.h
  src/board/viewe/viewe_panel_8048050.h
  src/board/viewe/viewe_panel_8048070.h
Due: sync-conf-files, check-file-versions

Update ESP_PanelBoard.h
  src/board/ESP_PanelBoard.h
Due: none

Update ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
Due: sync-conf-files, check-file-versions

Update Porting.ino
  examples/LVGL/v8/Porting/Porting.ino
Due: none

Update Rotation.ino
  examples/LVGL/v8/Rotation/Rotation.ino
Due: none

Update PanelTest.ino
  examples/Panel/PanelTest/PanelTest.ino
Due: none

Update app.cpp
  examples/PlatformIO/src/app.cpp
Due: none

Update Porting.ino
  examples/SquareLine/v8/Porting/Porting.ino
Due: none

Update WiFiClock.ino
  examples/SquareLine/v8/WiFiClock/WiFiClock.ino
Due: none

Update README_CN.md
  README_CN.md
Due: none

Modify the configuration file
  ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
Due: sync-conf-files, check-file-versions

fix: fix RGB build error on esp-idf
  src/ESP_Panel_Board_Kconfig.h
  src/board/Kconfig.board_custom
Due: none

Update ESP_PanelVersions.h
  src/ESP_PanelVersions.h
Due: check-file-versions

fix(board): fix GT911 build error for ESP32_S3_Touch_LCD_4_3
  src/board/Kconfig.board_custom
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3.h
Due: none

Update ESP_PanelLcd.cpp
  src/lcd/ESP_PanelLcd.cpp
Due: none

Revert "Update ESP_PanelLcd.cpp"
  src/lcd/ESP_PanelLcd.cpp
Due: none

fix(lcd): use 'delete[]' instead of 'delete' for C array shared pointer @FranciscoMoya (#142)
  CHANGELOG.md
  idf_component.yml
  library.properties
  src/ESP_PanelVersions.h
  src/lcd/ESP_PanelLcd.cpp
Due: check-file-versions

fix(Kconfig): fix build error on esp-idf and incorrect descriptions @Cathgao (#133)
  CHANGELOG.md
  Kconfig
  src/ESP_Panel_Board_Kconfig.h
  src/board/Kconfig.board_custom
Due: none

Update FAQ.md
  docs/FAQ.md
Due: none

fix(lcd): load vendor config from bus
  src/lcd/EK9716B.cpp
  src/lcd/GC9503.cpp
  src/lcd/GC9A01.cpp
  src/lcd/GC9B71.cpp
  src/lcd/ILI9341.cpp
  src/lcd/NV3022B.cpp
  src/lcd/SH8601.cpp
  src/lcd/SPD2010.cpp
  src/lcd/ST7262.cpp
  src/lcd/ST7701.cpp
  src/lcd/ST7789.cpp
  src/lcd/ST77916.cpp
  src/lcd/ST77922.cpp
  src/lcd/ST7796.cpp
Due: none

fix(examples): update PlatformIO lib & platform URLs
  examples/PlatformIO/platformio.ini
Due: none

fix(board): fix GT911 init error for waveshare boards
  CHANGELOG.md
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3.h
  src/board/waveshare/ESP32_S3_Touch_LCD_4_3_B.h
  src/board/waveshare/ESP32_S3_Touch_LCD_5.h
  src/board/waveshare/ESP32_S3_Touch_LCD_5_B.h
  src/board/waveshare/ESP32_S3_Touch_LCD_7.h
  test_apps/panel/sdkconfig.waveshare.esp32_s3_touch_lcd_5_b
Due: none

fix(version): fix minor number check @arduinomnomnom (#148)
  src/ESP_PanelVersions.h
Due: check-file-versions

fix(touch): fix GT911 build warning
  src/touch/GT911.cpp
Due: none

feat(examples): update PlatformIO build_flags
  CHANGELOG.md
  examples/PlatformIO/platformio.ini
  idf_component.yml
  library.properties
Due: check-file-versions

fix(log): fix kernel panic when checking the error @Kanzll (#144)
  CHANGELOG.md
  examples/PlatformIO/platformio.ini
  src/ESP_PanelLog.h
Due: none

feat(touch): add touch controller CHSC6540 @VIEWESMART (#128)
  src/touch/CHSC6540.cpp
  src/touch/CHSC6540.h
  src/touch/base/esp_lcd_touch_chsc6540.c
  src/touch/base/esp_lcd_touch_chsc6540.h
Due: none

feat(board): add various viewe boards @VIEWESMART (#128)
  ESP_Panel_Board_Supported.h
  README.md
  README_CN.md
  docs/Board_Instructions.md
  examples/LVGL/v8/Porting/ESP_Panel_Board_Supported.h
  examples/LVGL/v8/Rotation/ESP_Panel_Board_Supported.h
  examples/Panel/PanelTest/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/ESP_Panel_Board_Supported.h
  examples/PlatformIO/src/app.cpp
  examples/SquareLine/v8/Porting/ESP_Panel_Board_Supported.h
  examples/SquareLine/v8/WiFiClock/ESP_Panel_Board_Supported.h
  src/board/ESP_PanelBoard.h
  src/board/viewe/viewe_panel2_8048050.h
  src/board/viewe/viewe_panel_24320024.h
  src/board/viewe/viewe_panel_24320028.h
  src/board/viewe/viewe_panel_24320035.h
  src/board/viewe/viewe_panel_32480035.h
  src/board/viewe/viewe_panel_48272043.h
  src/board/viewe/viewe_panel_4848040.h
  src/board/viewe/viewe_panel_8048043.h
  src/board/viewe/viewe_panel_8048050.h
  src/board/viewe/viewe_panel_8048070.h
Due: sync-conf-files, check-file-versions

Path conditions:
  sync-conf-files: any of: .*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h, but not: libraries/ui/
  check-file-versions: any of: (.*ESP_Panel_(Board_Custom|Board_Supported|Conf)\.h|library.properties|.*ESP_PanelVersions.h), but not: libraries/ui/
